<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="../../../../../assets/images/logo.png" alt="" width="60px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/contact">contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/proudcts">proudcts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="login" *ngIf="!usersService.isLogin">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" *ngIf="!usersService.isLogin">register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="usersService.logout()" *ngIf="usersService.isLogin" style="cursor: pointer">logout</a>
          </li>
          <li class="nav-item">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon matBadge={{productsActionService.cart.length}} matBadgeColor="warn">shopping_cart</mat-icon>
              <mat-menu #menu="matMenu">
                <div class="menu">
                  <div style="width: 100%;" mat-menu-item (click)="goToProudct(i)" *ngFor="let product of productsActionService.cart let i=index" >
                    <div class="d-flex" >
                          <mat-card class="example-card" >
                            <i class="fa-solid fa-trash removeRed" (click)="removeFromCart(i)"></i>
                            <mat-card-header >
                              <mat-card-title-group>
                                <mat-card-title>{{productsActionService.cart[i].title}}</mat-card-title>
                                <mat-card-subtitle>{{productsActionService.cart[i].price}}</mat-card-subtitle>
                                <img mat-card-sm-image src="../../../../../assets/images/dress-shirt-img.png" >
                              </mat-card-title-group>
                            </mat-card-header>
                          </mat-card>
                        </div>
                  </div>
                </div>
              </mat-menu>
            </button>
           </li>
          <li class="nav-item">
            <button mat-icon-button  [matMenuTriggerFor]="menuFav">
              <mat-icon matBadge={{productsActionService.favourits.length}} matBadgeColor="warn">thumb_up</mat-icon>
              <mat-menu #menuFav="matMenu" >
                <div class="menu" >
                  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="productsActionService.favourits.length" >
                    <div class="example-box container" *ngFor="let product of productsActionService.favourits let i=index" cdkDrag >
                      <div class="row p-2">
                        <div class="col-12">
                          <mat-card class="example-card">
                            <i class="fa-solid fa-trash removeRed" (click)="removeFromFav(i)"></i>
                            <mat-card-header (click)="goToProudct(i)">
                              <mat-card-title-group>
                                <mat-card-title>{{productsActionService.favourits[i].title}}</mat-card-title>
                                <mat-card-subtitle>{{productsActionService.favourits[i].price}}</mat-card-subtitle>
                                <img mat-card-sm-image src="../../../../../assets/images/dress-shirt-img.png" >
                              </mat-card-title-group>
                            </mat-card-header>
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </button>
           </li>
           <li class="nav-item ms-2" >
            <p-chip [style]="{cursor: 'pointer'}" label={{usersService.user.value.name}} [image]="usersService.user.value.image" *ngIf="usersService.isLogin" ></p-chip>
           </li>
        </ul>
      </div>
    </div>    
  </nav>
                          

  