section {
    div.container {
        div.row {
            color: rgb(19, 146, 125);

            div.image {
                text-align: center;
                margin: auto;

                // img {
                //     margin: auto;
                //     border-radius: 2rem;
                //     display: block;
                //     width: 100%;
                //     height: 100%;

                // }
            }

            div.details {
                padding: 2rem;

                div.header {
                    font-size: 2rem;
                    display: flex;
                    justify-content: space-between;
                }

                h2 {
                    font-size: 2rem;
                    margin: 4rem 0 0;
                    font-weight: 600;
                }

                h4 {
                    margin-bottom: 3rem;
                    margin-left: 1.5rem;
                    color: rgb(180, 178, 178);
                }

                div.price {
                    margin: 4rem 0 1rem;
                    padding: 0;
                    display: flex;

                    h4:first-child {
                        color: rgb(255, 145, 0);
                        font-size: 2rem;
                        font-weight: 600;
                    }

                    h4:nth-child(2) {
                        text-decoration: line-through;
                        color: rgb(27, 112, 101);
                        font-size: 2rem;
                        font-weight: 600;
                        margin-left: 8rem;
                    }
                }

                .btn {
                    background-color: rgb(13, 116, 116);
                    font-size: 1.5rem;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

        }

    }
}