<section class="container my-5">
    <h3 class="text-center">Welcom to LoGin</h3>
    <form class="border rounded p-5" [formGroup]="LoginForm" novalidate (ngSubmit)="submit()">
        <div class="form-group">
        <label>Email address:</label>
        <input type="email" class="form-control" [class.is-invalid]="Email ?.touched && Email ?.invalid && Email ?.pristine==false && Email?.dirty==true" formControlName="Email" >
        </div>
        <div class="form-group">
        <label>Password :</label>
        <input type="password" class="form-control" [class.is-invalid]="Pass ?.touched && Pass ?.invalid && Pass ?.pristine==false" formControlName="password" >
        </div>
        <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit"  class="btn btn-primary m-3">Login</button>
    </form>
</section> 