.card {
    div {

        img {
            width: 250px;
            height: 250px;
            object-fit: contain;
            display: block;
            margin: auto;
            padding: 1rem;
            position: relative;
            cursor: pointer;

        }

        i {
            font-size: 2rem;
            transition: all 2s;
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: rgb(62, 148, 177);

            &:hover {
                transform: rotateY(180deg);
            }
        }
    }

    .price {
        display: flex;
        align-items: baseline;

        h2 {
            color: red;
        }

        h3 {
            text-decoration: line-through;
            color: red($color: #000000);
        }



    }

    .btn1 {
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background-size: 120% auto;
        background-image: linear-gradient(315deg, #00dbf8 0%, #bbbcfc 75%);

        &:hover {
            background-position: right center;
        }

        &:active {
            top: 2px;

        }

        div.add {
            input {
                display: inline-block;
                height: 200px;
            }
        }
    }

}